<div class="container" style="margin-top: 70px;">
  <div class="container" style="margin-top: 70px;">
    <div class="invoice">
      <h4 class="invoice-header">Busqueda de pelicula</h4>
      <div class="invoice-body">
          <form [formGroup]="searchMovieForm" (ngSubmit)="onSearchTittleMovie()">
              <div class="form-group">
                  <input type="text" formControlName="tittle" class="form-control" placeholder="Nombre pelicula" />
              </div>
              <div class="form-group">
                <input type="text" formControlName="year" class="form-control" placeholder="Año de la pelicula" />
              </div>
              <div class="form-group">
                <input type="text" formControlName="type" class="form-control" placeholder="Serie o pelicula o documental" />
              </div>
              <div class="form-group">
                <input type="text" formControlName="fullOrShort" class="form-control" placeholder="Resumen o Completo" />
              </div>
              <button  class="btn btn-primary">
                  Buscar!
              </button>
          </form>
      </div>
  </div>
  <br/>
  <br/>
  <div *ngIf="!loading && !errorMovie" class="col-lg-6">
    <div class="well sponsor" >
        <img style="float: left; margin-right: 15px;" src="{{responseMovie.Poster}}"  width="170" height="250" >
        <h4 style="margin-bottom: 0.4em;">{{responseMovie.Title }}</h4>
        <div class="clearfix">
          <p>{{responseMovie.Plot}}<br><br>
          </p>
        </div>
    </div>
  </div>
  <div *ngIf="!loading && errorMovie" class="col-lg-6">
    <div class="well sponsor" >
      <h4 style="margin-bottom: 0.4em;">{{errores.error.detail }}</h4>
    </div>
  </div>
  <br/>
  <br/>
    <div class="invoice" *ngIf="!loading && !errorMovie" >
        <h4 class="invoice-header">Ingrese valoracion</h4>
        <div class="invoice-body">
            <form [formGroup]="assessmentMovieForm" (ngSubmit)="onAssessmentMovieSubmit()">
                <div class="form-group">
                    <input type="hidden" formControlName="idpelicula" class="form-control" placeholder="idpelicula" value="{{responseMovie.imdbID}}"/>
                </div>
                <div class="form-group">
                    <input type="hidden" formControlName="idusuario" class="form-control"  placeholder="User" value="1"/>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="nota" class="form-control"  placeholder="Nota"/>
                </div>
                <button  class="btn btn-primary">
                    Calificar
                </button>
            </form>
        </div>
    </div>
    <br/>
    <br/>
    <div>
        <table mat-table [dataSource]="asessmentMovieList" matSort class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="url_imagen">
            <th class="text-underline text-bold color-black"  mat-header-cell *matHeaderCellDef mat-sort-header  > Poster</th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.movie.url_imagen}}" class="cat" alt="..." > </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th class="text-underline text-bold color-black"  mat-header-cell *matHeaderCellDef mat-sort-header > Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.movie.nombre}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="nota">
            <th class="text-underline text-bold color-black"  mat-header-cell *matHeaderCellDef mat-sort-header > Valoracion </th>
            <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
          </ng-container>

          <tr class="text-underline text-bold color-black" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
</div>


